*{margin:0; /* browser har ''naturligt'' padding/ margin, här tar jag bort detta */
padding: 0;}

body { /* bakgrundbild för sidan */ 
  background-image: url('img/drake.webp');
  background-repeat: no-repeat; /* bilden upprepas inte */
  background-attachment: fixed; /* skrollas inte med sidan */
  background-size: cover; /* täcker hela sidan */
}

header{
    /* background-color: rgb(255, 255, 255); */
    font-family: 'Bree Serif', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Lobster', cursive;
}

 h1 { display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: 2px 2px red; /* ger texten en skugga */
  font-size: 3em; /* storleken på texten, em är ett annat typ av mått */
  font-family: 'Bree Serif', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Lobster', cursive;
 /*height: 35vw; */

} 

h2 {
  text-decoration-line: underline; /* ger en linje */
  text-decoration-color: red;
  font-family: 'Bree Serif', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Lobster', cursive;
}


section{
    background-color: rgb(255, 255, 255); /* bakgrunds färg */
    padding: 20px;
}


footer{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-family: 'Bree Serif', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Lobster', cursive;
}

img{
  border:10px solid #555; /* ger alla bilderNA en kant */ 
}

#drakebild{
  width: 40% ;
}

  #partybild{
  width: 100% ;
} 

p {
  font-family: 'Bree Serif', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Lobster', cursive;
}


/* det mesta av navbar är kopierat från w3 schools */
 #navbar {
  background-color: #333;
  position: fixed;
  top: -50px; /* gömmer min navbar ''over'' sidan */
  width: 100%; /* tar upp hela bredden */ 
  display: block; /* startar påen ny linje och tar upp hela bredden */
  transition: top 0.3s; /* farten som naven flyttar sig på */
} 

#navbar a {
  float: left; /* positionering */ 
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
} 

#navbar a:hover { 
  background-color: #ddd;
  color: black;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; /* hur elementen stackar på varandra, */
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden; /* ingen skroll mekanism */ 
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn { /* när man stänger */
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* sidomenyn vid media queryn */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  display: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: -webkit-sticky;
  position: sticky;
  top:10px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  /*  16px; */
}

a{
  color: crimson; /* stylar alla länkar röda */
}

/* On smaller screens, where height is lesls than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}




@media screen and ( (max-height: 450px) or (max-width:760px) ) { /* från w3 schools- kom med en av delarna kod jag kopierade in */
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
  #navbar{ /* gömmer naven vid toppen (inte kopierat) */
    display: none;
  }


  .openbtn { /* synliggör sidomenyn (inte kopierat)  */ 
    display:block; 
  }


}

